{% extends 'core/base.html' %}


{% block content %}
    <br/>

    <div class="container-fluid" {% if reduced %}style="width:50%;"{% endif %}>
        <div class="panel panel-default">
            <div class="panel-body">
                <form  {% if form_id %}id="{{form_id}}"{% endif %} class='form-vertical' {% if file_form %}enctype="multipart/form-data"{% endif %} action="{{ action_link }}" method="post"> 
                
                    {% csrf_token %}
                    
                    <fieldset>
                        <legend>{{form_title}}</legend>
                    </fieldset>

                    {% if warning_message %}
                        <div class="alert alert-warning" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>{{ warning_message }}</div>
                    {% endif %}

                    {% block form_body %}

                    {% endblock %}

                    <table id="main_table" cellpadding="0" cellspacing="0" border="0" class="table {% if not remove_striped %} table-striped {% endif %} table-bordered" bgcolor="#FFFFFF">
                        {% block table_content %}
                        {% endblock %}
                    </table>
                    
                    {% if editable %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            {% if form_button3 %}
                                <input name="{{form_button3}}" id="btn-submit" class="btn btn-{% if form_button3_class %}{{form_button3_class}}{% else %}default{% endif %}" type="submit" value="{{form_button3}}" />
                            {% endif %}
                            {% if form_button2 %}
                                <input name="{{form_button2}}" id="btn-submit" class="btn btn-{% if form_button2_class %}{{form_button2_class}}{% else %}default{% endif %}" type="submit" value="{{form_button2}}" />
                            {% endif %}
                            {% if form_button %}
                                <input name="{{form_button}}" id="btn-submit" class="btn btn-{% if form_button_class %}{{form_button_class}}{% else %}default{% endif %}" type="submit" value="{{form_button}}" />
                            {% endif %}
                            {% if download_button %}
                                <div class="btn-group">
                                    <button value="Exportar Arquivo" id="btn-submit" class="btn btn-primary" type="submit">
                                        <i class="fa fa-download" title="Baixar arquivo"> {{download_button}}</i>
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    
                    {% block buttons %}

                    {% endblock %}
                </form>
            </div>
        </div>
        {% block modals %}
        {% endblock %}
    </div>

    {% if back_button %}
        <div class="container" {% if reduced %}style="width:50%;"{% endif %}>
            <a class="btn btn-{% if back_button_class %}{{back_button_class}}{% else %}light{% endif %}" href="{{back_link}}">{{back_button}}</a>
        </div>
    {% endif %}

{% endblock %}