<ul class="navbar-nav mr-auto">
    <li class="nav-item {% if home_active %}{{home_active}}{% endif %}">
        <a class="nav-link waves-effect" href="{% url 'home' %}">
            Home
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link waves-effect" href="#">
            Button 
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link waves-effect" href="#">
            Button 2
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link waves-effect" href="#">
            Button 3
        </a>
    </li>
</ul>