<div class="list-group list-group-flush">
    <a href="{% url 'home' %}" class="list-group-item list-group-item-action waves-effect {% if home_active %}{{home_active}}{% endif %}">
        <i class="fas fa-chart-line mr-3"></i>
        Dashboard
    </a>
    <a href="#" class="list-group-item list-group-item-action waves-effect  {% if line_active %}{{line_active}}{% endif %}"">
        <i class="fas fa-train mr-3"></i>
        Linhas
    </a>
    <a href="#" class="list-group-item list-group-item-action waves-effect  {% if profile_active %}{{profile_active}}{% endif %}"">
        <i class="fa fa-user mr-3"></i>
        Perfil
    </a>
    <a href="#" class="list-group-item list-group-item-action waves-effect  {% if doc_active %}{{doc_active}}{% endif %}"">
        <i class="fa fa-money mr-3"></i>
        Documentação
    </a>
</div>